/* SCROLL TO TOP BUTTON */

#myBtn {
  transition-duration: 0.4s;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: darkturquoise;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: rgb(180, 255, 249);
}

html {
  scroll-behavior: smooth;
}


.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.footer{
    background-color: #ccdee0;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
}

.text-stuff{
    background-color: #ddeded;
    margin:0px auto;
    border-style: solid;
    border-width: 3px;
    border-color: cadetblue;
    padding: 20px 0px 20px 0px;
    border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
}

.jumbotron {
    border-radius: 2px 2px 2px 2px;
    padding:70px 30px 70px 30px;
    margin:2px auto;
    background: #8fcdff;
    color:floralwhite;
    background-image: url('https://eggramen.neocities.org/misc/river.gif');
    background-size: cover;
    height: 80%;
    min-height: 350px;
    border-width: thin;
    border-style: solid;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.main-content {

     border-color: #5d6a73;
     border-style: none solid none solid;
     border-width: 3px;
}



body {
    background-size: cover;
    z-index:0;
    font-family: "Kaisei Tokumin", sans-serif;
}

.navbar {
     background-color: #cce6ff;
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
     margin-bottom: 10px;
     position: sticky!important;
}


.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}



